<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8 />
    <title>{% if page.title %} {{ page.title }} | {% endif %} Diane Wu</title>
    <!-- Bootstrap -->
    <link href="/style/twitter/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/style/twitter/bootstrap/js/bootstrap.min.js"></script>
    <style>
      body {
        background-image: url("/img/bg.png");
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Diane Wu</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/art">Art</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">
      {{ content }}
    </div> <!-- /container -->
  </body>
</html>
